:root{
    --primary: #7C3AED;
    --gray: #F3F4F6;
    --dark-gray: #6B7280;
}
*{
    padding:0;
    margin: 0;
}
body{
    font-family: system-ui;
}body{
    font-family: system-ui;
}
/* ............. */
.brandname{
    margin: 0.5em;
}
p{
    padding: 0.1em 10vw;
    font-size: 1.25rem;
}
.buttons {
    padding: 0.2rem;
    margin: 1.5rem auto;
}
.p-link{
    text-decoration: none;
    padding: 0.7rem;
    color: white;
    background-color: var(--primary);
    /* border: 1px solid black; */
    border-radius: 0.7rem;
}
.s-link{
    text-decoration: none;
    border: 1px solid var(--primary);
    padding: 0.7rem;
    border-radius: 0.7rem;
    color: var(--primary);
}
.s-link:hover{
    background-color: #e1d6ff;

}
.ul{
    list-style-type: none;
    text-decoration:none;
}
.inline li{
    display: inline;
    padding: 0.5rem;
    /* color: white; */
}

nav{
    background-color: var(--primary);
    color: white;
    font-size: larger;
    border-bottom-left-radius: 1.5rem;
    /* margin: -8px; */
    border-bottom-right-radius: 1.5rem;
}
.nav-link-container{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    padding-top: 7px;
    margin: -8px;
    height: 2.2em;
}
.nav-link{
    color: white;
    text-decoration: none;
}
/* .nav-link:hover{
    font-size: larger;
} */
.centered{
    text-align: center;
}
.navlist{
    display: flex;
}
.navlist li{
    padding: 1rem;
}
.hero{
    justify-content: center;
    text-align: center;
    color: var(--dark-gray)
}
header.hero-container {
    padding: 8vh;
}
.hero img{
    max-width: 25vw;
    margin: auto;
    display: block;
    padding: 2rem;
}
.normal-sec{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
}
.normal-sec .s-link {
    margin: 1rem auto;
}
.offw-sec{
    text-align: center;
    background-color: var(--gray);
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offw-sec .s-link {
    margin: 1em auto;
}
.footer{
    background-color: var(--primary);
    color: white;
    border-top-right-radius: 1.5rem;
    /* margin: 0px -8px; */
    border-top-left-radius: 1.5rem;
    
}
.link{
    text-decoration: none;
    color: white;
}
.footer-box{
    padding: 1vh 4vw;
    text-align: center;
    /* margin-bottom: -8px; */
}
.social-link{
    display: inline;
    position: relative;
    top:0rem;
    right:1vw;
}
ul.ul.social {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem auto;
    font-size: 1.3rem;
}
/* @Media Queries  */
@media screen and (max-width:500px){
    .offw-sec{
        padding: 2rem 0.5rem;
    }
    .normal-sec{
        padding: 2rem 0.5rem;
    }
    header.hero-container {
        padding: 5vh;
    }
}
@media screen and (max-width:400px){
    .offw-sec{
        padding: 2rem 0rem;
    }
    .normal-sec{
        padding: 2rem 0rem;
    }
}

